{% extends "base.html" %}

{% block content %}
<div class="form">
  <div class="header">
  {% if buggy %}
    <h1>Editing Buggy #{{ buggy['id'] }}</h1>
  {% else %}
    <h1>Buggy Creation</h1>
  {% endif %}
  </div>

  <form action="/new" method="post">
    <input type="hidden" name="id" size="5" class="wheels" value="{{ buggy['id'] }}" />
  <form>

  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" id="wheel_input" name="qty_wheels" size="5" class="wheels" value="{{ buggy['qty_wheels'] }}" /><br>
  <form><br>

  <form action="/new" method="post">
    <label for="flag_color">Primary Colour of the Flag:</label>
    <input type="color" id="flag_input" name="flag_color" class="color" value="{{ buggy['flag_color'] }}"><br>
  <form><br>

  <form action="/new" method="post">
    <label for="flag_color_secondary">Secondary Colour of the Flag:</label>
    <input type="color" id="second_flag_input" name="flag_color_secondary" class="color" value="{{ buggy['flag_color_secondary'] }}"><br>
    </select>
    
  <form><br>

  <form action="/new" method="post">
    <label for="flag_pattern">Flag Pattern:</label>
    <select id="pattern_input" name="flag_pattern">
      <option value="{{ buggy['flag_pattern'] }}" selected hidden>{{ buggy['flag_pattern'] }}</option>
      <option value="plain">Plain</option>
      <option value="vstripe">Vertical Stripe</option>
      <option value="hstripe">Horizontal Stripe</option>
      <option value="dstripe">Diagonal Stripe</option>
      <option value="checker">Checkered</option>
      <option value="spot">Spotted</option>
    </select><br>
  <form><br>
  <form>
    <label for="power_type">Power Type</label>
    <select id="power_input" name="power_type">
      <option value="{{ buggy['power_type'] }}" selected hidden>{{ buggy['power_type'] }}</option>
      <option value="petrol">Petrol</option>
      <option value="fusion">Fusion</option>
      <option value="steam">Steam</option>
      <option value="bio">Bio fuel</option>
      <option value="electric">Electric</option>
      <option value="rocket">Rocket Fuel</option>
      <option value="hamster">Hamster</option>
      <option value="thermo">Thermonuclear</option>
      <option value="solar">Solar</option>
      <option value="wind">Wind</option>
    </select><br>
  <form><br>
    <form action="/new" method="post">
      <label for="tyres">Type of Tyre</label>
      <select id="tyre_input" name="tyres">
        <option value="{{ buggy['tyres'] }}" selected hidden>{{ buggy['tyres'] }}</option>
        <option value="knobbly">Knobbly</option>
        <option value="slick">Slick</option>
        <option value="steelband">Steelband</option>
        <option value="reactive">Reactive</option>
        <option value="maglev">Maglev</option>
      </select>
    <form><br>
      <br>
  <input type="submit" name="Sumbit" class="button" value="Submit">
  <a href="/" class="button">Home</a>
  {% if buggy %}
  <input type="submit" name="Delete" class="buttonDel" value="Delete"></a>
  {% else %}
  <a href="#" type="button" class="button" onclick="auto_fill()">Fill Form</a>
  {% endif %}
</form>

  <div class="message">
    <p>
      {{msg}}
    </p>
  </div>
</div>
<script>
  function auto_fill()
  {
    var patternArray = ['plain', 'vstripe', 'hstripe', 'dstripe', 'checker', 'spot'];
    var powerArray = ['petrol', 'fusion', 'steam', 'bio', 'electric', 'rocket', 'hamster', 'thermo', 'solar', 'wind'];
    var tyreArray = ['knobbly', 'slick', 'steelband', 'reactive', 'maglev'];
    document.getElementById('wheel_input').value = Math.floor(Math.random() * 10) *2;
    document.getElementById('flag_input').value = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
    document.getElementById('second_flag_input').value = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
    document.getElementById('pattern_input').value = patternArray[Math.floor(Math.random() * patternArray.length)];
    document.getElementById('power_input').value = powerArray[Math.floor(Math.random() * powerArray.length)];
    document.getElementById('tyre_input').value = tyreArray[Math.floor(Math.random() * tyreArray.length)];
  }


</script>
{% endblock %}
