{% extends "base.html" %}

{% block content %}
<div class="form">
  <div class="header">
    <h1>Buggy Creation</h1>
  </div>
  

  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" size="5" value="{{ buggy['qty_wheels'] }}"/><br>
  <form><br>

  <form action="/new" method="post">
    <label for="flag_color">Primary Colour of the Flag:</label>
    <select name="flag_color">
      <option value="{{ buggy['flag_color'] }}" selected hidden>{{ buggy['flag_color'] }}</option>
      <option value="Blue">Blue</option>
      <option value="Red">Red</option>
      <option value="Green">Green</option>
    </select><br>
  <form><br>

  <form>
    <label for="flag_color_secondary">Secondary Colour of the Flag:</label>
    <select name="flag_color_secondary">
      <option value="{{ buggy['flag_color_secondary'] }}" selected hidden>{{ buggy['flag_color_secondary'] }}</option>
      <option value="Blue">Blue</option>
      <option value="Red">Red</option>
      <option value="Green">Green</option>
    </select><br>
    
  <form><br>

  <form>
    <label for="flag_pattern">Flag Pattern:</label>
    <select name="flag_pattern">
      <option value="{{ buggy['flag_pattern'] }}" selected hidden>{{ buggy['flag_pattern'] }}</option>
      <option value="plain">Plain</option>
      <option value="vstripe">Vertical Stripe</option>
      <option value="hstripe">Horizontal Stripe</option>
      <option value="dstripe">Diagonal Stripe</option>
      <option value="checker">Checkered</option>
      <option value="spot">Spotted</option>
    </select><br>
  <form><br>
  <form>
    <label for="power_type">Power Type</label>
    <select name="power_type">
      <option value="{{ buggy['power_type'] }}" selected hidden>{{ buggy['power_type'] }}</option>
      <option value="petrol">Petrol</option>
      <option value="fusion">Fusion</option>
      <option value="steam">Steam</option>
      <option value="bio">Bio fuel</option>
      <option value="electric">Electric</option>
      <option value="rocket">Rocket Fuel</option>
      <option value="hamster">Hamster</option>
      <option value="thermo">Thermonuclear</option>
      <option value="solar">Solar</option>
      <option value="wind">Wind</option>
    </select>
  <form><br>
  <p>
    <input type="submit" class="button">
    <a href="/" class="button">Home</a>
  </p>

  <div class="message">
    <p>
      {{msg}}
    </p>
  </div>
</div>
{% endblock %}
